In [1]:
# efinance调用的是东方财富的数据源，速度非常快
import numpy as np 
import pandas as pd
import requests.sessions
from urllib.parse import urlencode
import efinance as ef

In [2]:
code = '600519'
code_list = ['600519', '300715']
beg = '20220715'    # start date
end = '20220815'

klt = 101    # 日K线
fqt = 1    # 前复权

In [18]:
# 基本信息，包含PE， ROE等
df2 = ef.stock.get_base_info(code_list)

Processing => 300715: 100%|██████████| 2/2 [00:01<00:00,  1.70it/s]

In [19]:
df2.head()

,股票代码,股票名称,净利润,总市值,流通市值,所处行业,市盈率(动),市净率,ROE,毛利率,净利率,板块编号
0,600519,贵州茅台,2.979391e+10,2.380507e+12,2.380507e+12,酿酒行业,39.95,12.39,14.57,92.109103,53.986560,BK0477
1,300715,凯伦股份,8.586259e+06,5.823683e+09,4.205173e+09,装修建材,169.56,2.29,0.31,20.538770,2.407906,BK0476

In [20]:
# 季报, 年报
df1 = ef.stock.get_all_company_performance()

In [21]:
df1.head()

,股票代码,股票简称,公告日期,营业收入,营业收入同比增长,营业收入季度环比,净利润,净利润同比增长,净利润季度环比,每股收益,每股净资产,净资产收益率,销售毛利率,每股经营现金流量
0,688696,极米科技,2022-08-20 00:00:00,2.036056e+09,20.716372,1.0154,2.693703e+08,39.78,21.7655,3.85,41.497650,9.34,37.519048,-1.564841
1,688626,翔宇医疗,2022-08-20 00:00:00,2.208913e+08,1.884254,59.6148,4.000417e+07,-53.67,222.1155,0.25,11.511539,2.07,67.857083,0.114239
2,688625,呈和科技,2022-08-20 00:00:00,3.304382e+08,25.674928,13.8250,9.836006e+07,30.65,13.1075,0.74,7.187984,10.54,43.843592,0.793645
3,688596,正帆科技,2022-08-20 00:00:00,9.431248e+08,19.698816,60.3912,5.282743e+07,-2.48,269.2568,0.21,7.143580,2.78,26.175483,-0.360682
4,688565,力源科技,2022-08-20 00:00:00,1.042676e+08,-9.236388,51.3778,1.051748e+07,-10.61,-27.4117,0.07,4.114418,1.60,26.747685,-0.078754

In [13]:
# 当日成交明细，没有历史，需自行采集存储
df5 = ef.stock.get_deal_detail(code)

In [14]:
df5.head()

   股票名称    股票代码        时间      昨收      成交价  成交量  单数
0  贵州茅台  600519  09:15:03  1895.5  1905.00    4   0
1  贵州茅台  600519  09:15:06  1895.5  1900.40    4   0
2  贵州茅台  600519  09:15:09  1895.5  1900.01    9   0
3  贵州茅台  600519  09:15:12  1895.5  1900.01   10   0
4  贵州茅台  600519  09:15:15  1895.5  1900.01   12   0

In [9]:
# 历史资金流向
df6 = ef.stock.get_history_bill(code)

In [10]:
df6.head()

,股票名称,股票代码,日期,主力净流入,小单净流入,中单净流入,大单净流入,超大单净流入,主力净流入占比,小单流入净占比,中单流入净占比,大单流入净占比,超大单流入净占比,收盘价,涨跌幅
0,贵州茅台,600519,2022-03-28,-99681440.0,36100.0,99645360.0,302586176.0,-402267616.0,-1.06,0.00,1.06,3.22,-4.28,1639.13,-1.75
1,贵州茅台,600519,2022-03-29,-82238368.0,1115250.0,81123120.0,10749088.0,-92987456.0,-1.89,0.03,1.87,0.25,-2.14,1645.33,0.38
2,贵州茅台,600519,2022-03-30,635886112.0,-3372601.0,-632513520.0,-209066240.0,844952352.0,8.74,-0.05,-8.69,-2.87,11.61,1708.43,3.84
3,贵州茅台,600519,2022-03-31,-201050592.0,399844.0,200650736.0,-46098976.0,-154951616.0,-4.63,0.01,4.63,-1.06,-3.57,1697.33,-0.65
4,贵州茅台,600519,2022-04-01,631642576.0,-8035845.0,-623606720.0,-256572528.0,888215104.0,7.96,-0.10,-7.86,-3.23,11.19,1758.34,3.59

In [5]:
# K线行情
df7 = ef.stock.get_quote_history(code, beg, end, klt, fqt)    # 同时支持沪深和美股

In [7]:
df7.head()

,股票名称,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,贵州茅台,600519,2022-07-15,1945.11,1949.50,1999.68,1944.51,33416,6.588731e+09,2.82,-0.18,-3.50,0.27
1,贵州茅台,600519,2022-07-18,1952.36,1951.66,1959.00,1922.00,24221,4.701937e+09,1.90,0.11,2.16,0.19
2,贵州茅台,600519,2022-07-19,1945.00,1943.10,1951.65,1926.00,21956,4.250853e+09,1.31,-0.44,-8.56,0.17
3,贵州茅台,600519,2022-07-20,1958.75,1950.10,1970.00,1945.00,18705,3.659971e+09,1.29,0.36,7.00,0.15
4,贵州茅台,600519,2022-07-21,1943.10,1939.00,1955.90,1934.51,14061,2.735503e+09,1.10,-0.57,-11.10,0.11

In [43]:
# 当日盘口数据，报错
#series = ef.stock.get_quote_snapshot(code)

In [3]:
import requests
params = (('id', code),('callback', 'jQuery183026310160411569883_1646052793441'))

In [4]:
 response = requests.get('https://hsmarketwg.eastmoney.com/api/SHSZQuoteSnapshot',  params=params)
# response是一个HTTP请求获得的返回结构。response.status_code返回状态码，response.headers返回头，response.text返回文本内容
# response.enoding返回文本编码 response.content返回二进制内容，

In [8]:
# 截取()之间的字符串
A = response.text    # 返回文本内容是字符串结构数据
start = A.index('(')
end = A.index(')')

A1 = A.split('(')[1]
A2 = A1.split(')')[0]
A3 = A[start+1:end]

In [45]:
from pandas.io.json import json_normalize
import json

In [47]:
s = pd.read_json(A2)    # A2是字符串
s1 = json.loads(A2)    # 把字符串转换成dict
s2 = json_normalize(s1)     # Json_normalize只支持dict

In [48]:
s2

,bottomprice,code,fivequote.buy1,fivequote.buy1_count,fivequote.buy2,fivequote.buy2_count,fivequote.buy3,fivequote.buy3_count,fivequote.buy4,fivequote.buy4_count,...,realtimequote.time,realtimequote.turnover,realtimequote.volume,realtimequote.wp,realtimequote.zd,realtimequote.zdf,sname,status,topprice,tradeperiod
0,1683.01,600519,1854.20,52,1854.15,1,1854.10,2,1854.08,1,...,16:00:00,0.15%,18728,8623,-15.81,-0.85%,贵州茅台,0,2057.01,0